<div style="text-align:center">
  <figure class="figure">
    <img src="tliga.png" class="figure-img img-fluid rounded"
         alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption style="font-size: large" class="figure-caption">به سایت {{ title }} خوش آمدید</figcaption>
  </figure>
</div>

<table>
  <tr>
    <td>
      <button routerLink="/teams" type="button" class="btn btn-warning">محبوب ترین تیم</button>
    </td>
    <td>
      <button routerLink="/players" type="button" class="btn btn-warning">با اخلاق ترین بازیکن</button>
    </td>
  </tr>
</table>

<br>
<br>

<router-outlet></router-outlet>
