<h2 style="text-align: right;font-family: Tahoma" *ngIf="this.step.toString() == '1'">تیمهای محبوب خود را انتخاب کنید:</h2>
<table class="table table-hover" dir="rtl" *ngIf="this.step.toString() == '1'">
  <tr style="text-align: right">
    <td colspan="1">
      <button class="btn btn-success" (click)="save()">تایید</button>
    </td>
    <td colspan="3">
      <h2 style="text-align: right;color: red" *ngIf="this.error != ''">{{ this.error }}</h2>
    </td>
  </tr>
  <tr style="text-align: right">
    <th scope="col"></th>
    <th scope="col">نام تیم</th>
    <th scope="col">بازیکنان تیم</th>
    <th></th>
  </tr>
  <tbody>
  <tr style="text-align: right" *ngFor="let t of teamList">
    <td><input type="checkbox" [(ngModel)]="t.followed"/></td>
    <td [ngClass]="{'bold':t.followed}">{{ t.faName }}</td>
    <td [ngClass]="{'bold':t.followed}">{{ t.playerNames }}</td>
    <td><img *ngFor="let p of t.players" [src]="portalPath + p.imageId" alt="" style="width: 200px;height: 200px"/></td>
  </tr>
  <tr style="text-align: right">
    <td colspan="1">
      <button class="btn btn-success" (click)="save()">تایید</button>
    </td>
    <td colspan="3">
      <h2 style="text-align: right;color: red" *ngIf="this.error != ''">{{ this.error }}</h2>
    </td>
  </tr>
  </tbody>
</table>


<h2 style="font-family: Tahoma;text-align: right" *ngIf="this.step.toString() == '2'">شما این تیمها را انتخاب کرده اید</h2>
<table class="table table-hover" dir="rtl" *ngIf="this.step.toString() == '2'">
  <tr style="text-align: right">
    <th>نام تیم</th>
    <th>بازیکنان تیم</th>
  </tr>
  <tbody>
  <tr style="text-align: right" *ngFor="let t of followedTeamList">
    <td [ngClass]="{'bold':t.followed}">{{ t.faName }}</td>
    <td [ngClass]="{'bold':t.followed}">{{ t.playerNames }}</td>
  </tr>
  <tr style="text-align: right">
    <td colspan="2">
      <button class="btn btn-primary" (click)="back()">بازگشت</button>
    </td>
  </tr>
  </tbody>
</table>
